@(app_name:String, client_id:String, response_type:String, redirect_uri:String, scope:String, state:String)
@import helper._

@main("Authorize") {
    <h2 class="text-center">Authorize @app_name</h2>
    <h4 class="text-center">@app_name would like to know your name and e-mail address. Your password will not be shared.</h4>

    @form(action = routes.OAuthAuthorizationServerController.authorizeDo(client_id, response_type, redirect_uri, scope, state), 'class -> "form-signin") {
        @alert(flash())
        @CSRF.formField
        <button class="btn btn-lg btn-primary btn-block" type="submit">Grant Access</button>
        <h4 class="text-center"><a href="/logout">Logout</a></h4>
    }
}
