@()(discourse: models.DiscourseSetting)
@import helper._

@main("Discourse SSO Settings") {
@alert(flash())
@adminNavigator("discourse")

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Discourse SSO Settings</h3>
    </div>
    <div class="panel-body">
        @form(action = routes.DiscourseController.updateSettings, 'class -> "form-inline") {
            @CSRF.formField
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="enabled" @if(discourse.isEnabled){checked}> Enabled
                </label>
            </div>
            <div class="form-group">
                <input type="text" name="redirectUri" value="@discourse.getRedirectUri" class="form-control" placeholder="http://DISCOURSE/session/sso_login" style="width: 300px">
            </div>
            <button type="submit" class="btn btn-default">Save</button>
            <div class="form-group">
                <p class="form-control-static">Secret: @{discourse.getSecret()}</p>
            </div>
        }
    </div>
</div>
<h4 class="text-center"><a href="/logout">Logout</a></h4>
}
