@(active: String, user: models.User)

<ul class="nav nav-pills nav-stacked">
    <li role="presentation" @if(active == "profile"){ class="active" }><a href="@routes.ProfileController.get">Profile</a></li>
    <li role="presentation" @if(active == "changeEmail"){ class="active" }><a href="@routes.ProfileController.changeEmailPage(null)">@{if(user.isEmailVerified) "Change Email" else "Verify Email"}</a></li>
    <li role="presentation" @if(active == "changePassword"){ class="active" }><a href="@routes.ProfileController.changePasswordPage">@{if(user.getPassword == null) "Set Password" else "Change Password" }</a></li>
    @if(user.isAdmin){
        <li role="presentation" @if(active == "clients"){ class="active" }><a href="@routes.ClientController.get">Clients</a></li>
        <li role="presentation" @if(active == "users"){ class="active" }><a href="@routes.UserController.get">Users</a></li>
        <li role="presentation" @if(active == "discourse"){ class="active" }><a href="@routes.DiscourseController.get">Discourse SSO</a></li>
    }
</ul>
<br>