@()(user: models.User, providers: List[(String, String)], userProviders: Map[String, String], changePasswordForm: Form[dtos.RegistrationDto], changeEmailForm: Form[dtos.RegistrationDto])
@import helper._

@main("Profile") {
@if(user.isAdmin) {@adminNavigator("profile")}
@alert(flash())

<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Your Information</h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@user.getUsername</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@user.getEmail</p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@{if(user.getPassword == null) "Set Password" else "Change Password" }</h3>
            </div>
            <div class="panel-body">
                @form(action = routes.ProfileController.changePassword, 'class -> "form-horizontal") {
                    @CSRF.formField
                    @if(user.getPassword != null) {
                        <p class="text-muted">Warning: Changing your password will log you out from all other devices/browsers.</p>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Current Password</label>
                            <div class="col-sm-8">
                                <input type="password" name="oldPassword" class="form-control">
                                @for(error <- changePasswordForm("oldPassword").errors) {<p class="text-warning">@error.format(messages())</p>}
                            </div>
                        </div>
                    } else {
                        <p class="text-muted">Setting a password allows you to use the regular login form.</p>
                    }
                    <div class="form-group">
                        <label class="col-sm-4 control-label">New Password</label>
                        <div class="col-sm-8">
                            <input type="password" name="password" class="form-control">
                            @for(error <- changePasswordForm("password").errors) {<p class="text-warning">@error.format(messages())</p>}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-4 col-sm-8">
                            <button class="btn btn-primary" type="submit">Submit</button>
                        </div>
                    </div>

                }
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Change Email</h3>
            </div>
            <div class="panel-body">
                @form(action = routes.ProfileController.changeEmail, 'class -> "form-horizontal") {
                @CSRF.formField
                <p class="text-muted">To not get locked out of your account, it is important to have a valid email address. Please note that you will need to confirm your new email address via a confirmation link. Changing your email will also log you out from all other devices/browsers.</p>
                <div class="form-group">
                    <label class="col-sm-4 control-label">Current Email</label>
                    <div class="col-sm-8">
                        <p class="form-control-static">@user.getEmail</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-4 control-label">New Email</label>
                    <div class="col-sm-8">
                        <input type="email" name="email" class="form-control">
                        @for(error <- changeEmailForm("email").errors) {<p class="text-warning">@error.format(messages())</p>}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="g-recaptcha" data-sitekey="6LfpYy0UAAAAALI0zTdsq9AzUE1Mi2KeCy-bpoEx"></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </div>

                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    @for(provider <- providers) {
      <div class="col-sm-12 col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3 class="panel-title">@{provider._2} Login</h3>
              </div>
              <div class="panel-body">
                @if(userProviders.containsKey(provider._1)) {
                  @form(action = routes.ProfileController.unlinkProvider(userProviders.get(provider._1))) {
                      @CSRF.formField
                      <button class="btn btn-danger" type="submit">Unlink</button>
                  }
                } else {
                  <a class="btn btn-block btn-social btn-@provider._1" href="@routes.OAuthClientController.authorize(provider._1, null)">
                  <span class="fa fa-@provider._1"></span> Link @provider._2 account
                  </a>
                }
              </div>
          </div>
      </div>
    }
</div>

<h4 class="text-center"><a href="/logout">Logout</a></h4>

}
