@()(user: models.User, clients: List[models.Client])
@import helper._

@main("Profile") {

@alert(flash())
<h2 class="form-heading">Welcome @user.getEmail!</h2>

@if(user.isAdmin) {
    @adminNavigator("profile")

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Client Management</h3>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <thead><tr><td>id</td><td>secret</td><td>name</td><td>redirect_uri</td></tr></thead>
                <tbody>
                @for(client <- clients) {
                    <tr>
                        <td>@client.getId</td>
                        <td>@client.getSecret</td>
                        @form(action = routes.ProfileController.addUpdateClient) {
                            @CSRF.formField
                            <td><input type="text" name="name" class="form-control" value="@client.getName"></td>
                            <td><input type="text" name="redirectUri" class="form-control" value="@client.getRedirectUri"></td>
                            <td><input type="hidden" value="@client.getId" name="id"/>
                                <button class="btn btn-default" type="submit">Save</button>
                            </td>
                        }
                    </tr>
                }
                </tbody>
            </table>
            @form(action = routes.ProfileController.addUpdateClient, 'class -> "form-inline") {
                @CSRF.formField
                <div class="form-group">
                    <input type="text" name="name" class="form-control" placeholder="name"/>
                </div>
                <div class="form-group">
                    <input type="text" name="redirectUri" class="form-control" placeholder="redirect_uri"/>
                </div>
                <button class="btn btn-default" type="submit">Create new client</button>
            }
        </div>
    </div>
}

<h4 class="text-center"><a href="/logout">Logout</a></h4>

}
