@(code:String, username:String, next:String, form1: play.data.Form[controllers.ResetPasswordController.Step3Dto])
@import helper._

@main("Reset Password") {

@form(action = routes.ResetPasswordController.step4(code, next), 'class -> "form-signin") {
    @alert(flash())
    @CSRF.formField
    <h2 class="form-heading">Reset Password</h2>
    <div class="form-group">
        <span>Please set a new password for user <strong>@username</strong> to complete the process.</span>
        <input name="password" type="password" class="form-control" placeholder="Pick new password" autofocus/>
        @for(error <- form1("password").errors) {<p class="text-warning">@error.format(messages())</p>}
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <h4 class="text-center"><a href="@routes.LoginController.get(next)">Back to login</a></h4>
}
}
