@this(cfg: com.typesafe.config.Config)
@(next: String, form1: play.data.Form[controllers.ResetPasswordController.Step1Dto])()
@import helper._

@main("Reset Password") {

@form(action = routes.ResetPasswordController.step2(next), 'class -> "form-signin") {
    @alert(flash())
    @CSRF.formField
    <h2 class="form-heading">Reset Password</h2>
    <div class="form-group">
        <span>If you forgot your password, you can reset it via sending yourself an email link</span>
        <input name="login" type="text" class="form-control input-lg" placeholder="Username or Email" autofocus/>
        @for(error <- form1("login").errors) {<p class="text-warning">@error.format(messages())</p>}
    </div>
    <div class="g-recaptcha" data-sitekey="@cfg.getString("recaptcha.siteKey")"></div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
    <h4 class="text-center"><a href="@routes.LoginController.get(next)">Back to login</a></h4>
}
}
