@()(user: models.User, users: List[models.User])
@import helper._

@mainWithNavigation("User Management", "users", user) {
@alert(flash())

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">User Management</h3>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead><tr><td>id</td><td>username</td><td>email</td><td>creation_time</td></tr></thead>
            <tbody>
            @for(user1 <- users) {
            <tr>
                <td>@user1.getId</td>
                <td>@user1.getUsername</td>
                <td>@user1.getEmail</td>
                <td>@user1.getCreationTime</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
</div>

}
